<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             placeholder="Nombre">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             placeholder="Apellido">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Correo electrónico</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico">
    </div>
  </div>
  
  <div class="mb-3 row">
    <div class="col-sm-10">
      <button  class="btn btn-outline-primary btn-block"
               type="submit"
               >Guardar
      </button>
    </div>
  </div>
</form>