<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             placeholder="Nombre"
             formControlName="nombre">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             placeholder="Apellido"
             formControlName="apellido">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Correo electrónico</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>
  
  <div class="mb-3 row">
    <div class="col-sm-12">
      <button  class="btn btn-outline-primary btn-block"
               type="submit"
               >Guardar
      </button>
    </div>
  </div>
</form>


<hr>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>
  {{forma.value | json }}
</pre>