<h1>Avengers Heroes /<small> Marvel & DC</small></h1>
<hr>

<div class="card-columns">
    <div class="card">
        <img class="card-img-top img-fluid" src="assets/img/aquaman.png" alt="....">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural</p>
            <p class="card-text"><small class="text-muted">Last updated 6 mins ago</small></p>
        </div>
        <button type="button" class="btn btn-outline-primary"></button>
        <a href="#" class="btn btn-outline-primary btn-block">Ver más...</a>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-3 mb-3">
      <div class="card h-100">
        <img src="assets/img/hulk.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-outline-primary btn-block">Ver más...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>