<div [ngClass]="alerta" class="alert" role="alert">
  <strong>Well Done!</strong> A simple primary alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">
  Info
</button>
<button
  type="button"
  class="btn btn-success"
  (click)="alerta = 'alert-success'"
>
  Success
</button>
<br /><br />

<h3>Proceso Asíncrono</h3>

<button
  (click)="ejecutar()"
  class="btn btn-primary"
  type="button"
  name="button"
  [disabled]="loading"
>
  <i
    [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading"> Guardar cambios</span>
  <span *ngIf="loading"> Espere por favor</span>
</button>
