<h4>Formularios <small> Template </small></h4>
<hr>

<form (submit)="guardar( forma )" #forma="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             name="nombre"
             [class.is-invalid] ="nombre.invalid && nombre.touched"
             [ngModel]="usuario.nombre"
             ngModel
             placeholder="Nombre"
             required
             minlength="5"
             #nombre="ngModel">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             name="apellido"
             ngModel
             placeholder="Apellido">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Correo electrónico</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="email"
             name="correo"
             [class.is-invalid] ="correo.invalid && correo.touched"
             ngModel
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
    </div>
  </div>
  
  <div class="mb-3 row">
    <div class="col-sm-10">
      <button  class="btn btn-outline-primary btn-block"
               type="submit"
               >Guardar
      </button>
    </div>
  </div>
</form>
