<h4>Formularios <small> Template </small></h4>
<hr>

<form (submit)="guardar( forma )" #forma="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             name="nombre"
             placeholder="Nombre"
             [class.is-invalid] ="nombre.invalid && nombre.touched"
             [ngModel]="usuario.nombre"
             ngModel
             minlength="5"
             #nombre="ngModel"
             required>
      <small *ngIf="nombre.invalid && nombre.touched"
             class="form-text text-danger">Ingrese un mínimo 5 letras
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="text" 
             name="apellido"
             placeholder="Apellido"
             [class.is-invalid] ="apellido.invalid && apellido.touched"
             [ngModel]="usuario.apellido"
             ngModel
             minlength="5"
             #apellido="ngModel"
             required>
      <small *ngIf="apellido.invalid && apellido.touched"
             class="form-text text-danger">Ingrese un mínimo 5 letras
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Correo electrónico</label>
    <div class="col-sm-10">
      <input class="form-control"
             type="email"
             name="correo"
             placeholder="Correo electrónico"
             [class.is-invalid] ="correo.invalid && correo.touched"
             [ngModel]="usuario.correo"
             ngModel
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel"
             required>
      <small *ngIf="nombre.invalid && nombre.touched"
             class="form-text text-danger">El correo es obligatorio
      </small>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Pais</label>
    <div class="col-sm-10">
      <select class="form-control"
              type="text"
              name="pais"
              [class.is-invalid] ="pais.invalid && pais.touched"
              [disabled]="paises.length === 0"
              [ngModel]="usuario.pais"
              required
              #pais="ngModel">
          <small *ngIf="pais.invalid && pais.touched"
             class="form-text text-danger">Elige un pais
          </small>
        <option *ngFor="let pais of paises"
                [value]="pais.codigo">
          {{pais.nombre}}
        </option>
      </select>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Género</label>
    <div class="col-sm-10">
      <div class="form-check form-check-inline">
        <input class="form-check-input"
              type="radio"
              name="genero"
              value="M"
              [class.is-invalid] ="genero.invalid && genero.touched"
              required
              [ngModel]="usuario.genero"
              #genero="ngModel">

              <label class="form-check-label">Maculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
              type="radio"
              name="genero"
              value="F"
              [class.is-invalid] ="genero.invalid && genero.touched"
              required
              [ngModel]="usuario.genero"
              #genero="ngModel">

              <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>
  
  <div class="mb-3 row">
    <div class="col-sm-10">
      <button  class="btn btn-outline-primary btn-block"
               type="submit"
               >Guardar
      </button>
    </div>
  </div>
</form>
