<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            No existe resultado con el término: {{ termino }}
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-3" *ngFor="let heroe of heroes; let i = index;">
      <div class="card h-100 pb-3 animated fadeIn fast">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <!-- <div class="card-body" *ngIf="mostrar"> -->
        <div class="card-body">
         <h5 class="card-title">{{ heroe.nombre }}</h5>         
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small>
          
            <button (click)="homeHeroes()"
            type="button"
            class="btn btn-outline-success ml-5" 
            >
              Back to all heroes
            </button>
          </p>
        </div>    
        <div class="card-footer">          
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>       
    </div>
  </div>
